/**
 * Header style
 *
 * @format
 */

header {
  position: fixed;
  width: 100%;
  transition: background 0.4s ease;
  z-index: 999;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.4s ease;
}

header .logo {
  font-size: 2rem;
  color: var(--title-color);
}

header nav,
.phone-nav {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

header nav ul,
.phone-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  list-style: none;
}

header nav ul li,
.phone-nav ul li {
  height: 48px;
  display: flex;
  align-items: center;
}

header nav img,
.phone-nav img {
  height: 40px;
  transition: transform 0.3s ease;
}

header nav img:hover,
.phone-nav img:hover {
  transform: translateY(-4px);
}

.phone-nav {
  display: none;
}

.header-sticky {
  background: var(--dark-color);
}

.header-sticky .logo {
  color: var(--light-color);
}

.header-sticky .header-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* home style */

.home {
  padding-top: 10rem;
  padding-bottom: 5rem;
  background: white;
  height: 100vh;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.home .left,
.home .right {
  width: 50%;
  position: relative;
  height: 100%;
}

.home .left .img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.4s ease;
}

.home .left .img:hover {
  scale: 1.02;
}

.home .left .img .imgbg {
  max-height: 40rem;
  height: 100%;
  width: 95%;
  background-color: hsl(228, 24%, 97%);
  border-radius: 67% 33% 34% 66% / 73% 64% 36% 27%;
}

.home .left .img img {
  position: absolute;
  max-height: 40rem;
  height: 100%;
  object-fit: cover;
  inset: 0;
  left: 50%;
  transform: translateX(-55%);
}

.home .right {
  font-family: 'Ubuntu', sans-serif;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .right .text-1 {
  font-size: var(--big-font-size);
  cursor: pointer;
}

.home .right .text-2 {
  font-size: var(--biggest-font-size);
  font-weight: 500;
  margin: 0.5rem 0;
  color: var(--title-color);
  cursor: pointer;
}

.home .right .text-3 {
  font-size: var(--bigger-font-size);
  cursor: pointer;
}

.home .right .resume {
  margin: 2rem 0;
}

.home .right .resume a {
  padding: 0.5rem 1rem;
  background: var(--accent-1);
  font-size: var(--big-font-size);
  color: white;
  border: 1px solid var(--accent-1);
  border-radius: 3px;
}

.home .right .resume a:hover {
  box-shadow: 8px 8px 10px var(--shadow-color);
}

/* projects style */
.projects {
  height: auto;
  background: hsl(228, 24%, 97%);
  overflow: hidden;
  padding: 4rem 0;
  display: flex;
}

.project-container {
  height: auto;
  /* height: calc(100vh - 15.25rem); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-container.homyz .left {
  width: 40%;
}

.project-container.homyz .right {
  width: 60%;
}

.project-container.magnadokan .left {
  width: 60%;
}

.project-container.magnadokan .right {
  width: 40%;
}

.project-container .title {
  font-weight: 500;
  font-size: var(--big-font-size);
  font-family: 'Poppins', sans-serif;
  color: gray;
  margin: 2rem 0;
}

.project-container .description {
  font-size: var(--semi-normal-font-size);
}

.project-container .description a {
  color: gray;
}

.project-container .case_study a {
  color: var(--accent-1);
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--normal-font-size);
  text-decoration: underline;
}

.project-container img {
  width: 100%;
  transition: all 0.4s ease;
  cursor: pointer;
}

.project-container img:hover {
  transform: rotate3d(2, 1, 0, 10deg);
}
/* services style */
.services {
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: 'Poppines', sans-serif;
}

.services-container {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.services-container .card {
  margin: 1rem 0;
  width: 49%;
}

.services-container .box {
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--accent-1-lighten);
  border-radius: 3px;
  transition: all 0.4s ease;
}

.services-container .box:hover {
  scale: 1.01;
  box-shadow: 0 12px 16px var(--shadow-color);
  border: 2px solid var(--accent-1-lighten);
}

.services-container .box i {
  font-size: 2rem;
}

.services-container .box .name {
  font-size: var(--big-font-size);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin: 0.5rem 0;
}

.services-container .box p {
  font-size: 1.2rem;
}

/* values style */
.values {
  background: var(--light-color);
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: 'Poppines', sans-serif;
}

.values-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.values-container .left,
.values-container .right {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.values .left img {
  height: auto;
  width: 100%;
}

.value-description {
  color: gray;
  font-size: var(--normal-font-size);
  margin-bottom: 2.5rem;
}

.value_accordion {
  display: grid;
  row-gap: 1.5rem;
}

.value_accordion-item {
  background-color: var(--light-color);
  border: 2px solid var(--accent-1-lighten);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.75rem 0.75rem;
}

.value_accordion-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.value_accordion-icon {
  background-color: var(--accent-1-lighten);
  padding: 5px;
  border-radius: 0.25rem;
  font-size: 15px;
  color: var(--accent-1);
  margin-right: 0.75rem;
  transition: 0.3s;
}

.value_accordion-title {
  font-size: var(--normal-font-size);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}

.value_accordion-arrow {
  display: inline-flex;
  background-color: var(--accent-1-lighten);
  padding: 0.25rem;
  color: var(--accent-1);
  border-radius: 2px;
  font-size: 10px;
  margin-left: auto;
  transition: 0.3s;
}

.value_accordion-arrow i {
  transition: 0.4s;
}

.accordion-open .value_accordion-arrow i {
  transform: rotate(180deg);
}

.value_accordion-content {
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
}

.value_accordion-description {
  font-size: 0.813rem;
  padding: 1.25rem 2.5rem 0 2.75rem;
  padding-bottom: 1rem;
}

/* contact style */
.contact {
  background: var(--light-color);
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: 'Poppines', sans-serif;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-container .left {
  width: 59%;
}

.contact-container .right {
  width: 39%;
}

.contact-container input[type='submit'] {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  resize: none;
  border: none;
  border-radius: 3px;
  width: 100%;
  background: var(--accent-1);
  color: var(--light-color);
  transition: all 0.4s ease;
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--semi-normal-font-size);
}

.contact-container input[type='submit']:hover {
  transform: translateY(-2px);
  box-shadow: 4px 10px 10px var(--shadow-color);
}

.contact-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-container form input,
.contact-container form textarea {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  resize: none;
  border: 1px solid var(--accent-1-lighten);
  border-radius: 3px;
}

.contact-container form input:focus,
.contact-container form textarea:focus {
  outline: 1px solid var(--accent-1);
}

.contact-container .right a {
  color: hsl(240, 7%, 84%);
  font-size: var(--semi-normal-font-size);
}

/* Footer style */

footer {
  text-align: center;
  color: var(--title-color);
}

@media (max-width: 947px) {
  .container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .home .left {
    width: 60%;
  }

  .home .right {
    width: 40%;
  }

  .home .right .text-1 {
    font-size: var(--normal-font-size);
  }

  .home .right .text-2 {
    font-size: var(--big-font-size);
  }

  .home .right .text-3 {
    font-size: var(--semi-normal-font-size);
  }

  .home .right .resume a {
    font-size: var(--semi-normal-font-size);
  }
}

@media (max-width: 860px) {
  .home .left .img .imgbg,
  .home .left .img img {
    height: 35rem;
  }

  .services-container .box .name {
    font-size: var(--semi-normal-font-size);
  }
}

@media (max-width: 740px) {
  .home .left .img .imgbg,
  .home .left .img img {
    height: 30rem;
  }
}

@media (max-width: 690px) {
  header nav {
    display: none;
  }

  .home {
    height: auto;
    padding-bottom: 1rem;
  }

  .home .left,
  .home .right {
    width: 100%;
  }

  .home .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .home .left .img {
    width: 85%;
    height: auto;
    overflow: hidden;
  }

  .home .left .img .imgbg {
    width: 100%;
    overflow: hidden;
  }

  .home .left .img img {
    width: 85%;
    height: 100%;
    object-fit: scale-down;
    left: 0;
    transform: unset;
  }

  .phone-nav {
    display: flex;
    width: 10%;
    justify-content: center;
  }

  .phone-nav ul {
    flex-direction: column;
  }

  .home .right {
    margin-top: 2rem;
  }

  .home .right .text-1 {
    font-size: var(--big-font-size);
  }

  .home .right .text-2 {
    font-size: var(--biggest-font-size);
  }

  .home .right .text-3 {
    font-size: var(--bigger-font-size);
  }

  .home .right .resume a {
    font-size: var(--bigger-font-size);
  }

  .project-container.magnadokan {
    flex-wrap: wrap-reverse;
  }

  .project-container.homyz .right,
  .project-container.homyz .left,
  .project-container.magnadokan .right,
  .project-container.magnadokan .left {
    width: 100%;
  }

  .services-container .card {
    width: 100%;
  }

  .services-container .box .name {
    font-size: var(--big-font-size);
  }

  .values-container .left,
  .values-container .right {
    width: 100%;
  }

  .contact-container .left,
  .contact-container .right {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .section-title {
    font-size: var(--big-font-size);
  }

  .home .right .text-1 {
    font-size: var(--semi-normal-font-size);
  }

  .home .right .text-2 {
    font-size: var(--bigger-font-size);
  }

  .home .right .text-3 {
    font-size: var(--big-font-size);
  }

  .home .right .resume a {
    font-size: var(--big-font-size);
  }

  .services-container .box .name {
    font-size: var(--semi-normal-font-size);
  }

  .services-container .box p {
    font-size: var(--normal-font-size);
  }
}

@media (max-width: 400px) {
  .section-title {
    font-size: var(--semi-normal-font-size);
  }

  .home .left .img .imgbg {
    height: 50vh;
  }

  .home .right .text-1 {
    font-size: var(--normal-font-size);
  }

  .home .right .text-2 {
    font-size: var(--big-font-size);
  }

  .home .right .text-3 {
    font-size: var(--semi-normal-font-size);
  }

  .home .right .resume a {
    font-size: var(--semi-normal-font-size);
  }
}
