/**
 * Header style
 *
 * @format
 */
loader {
  height: 100vh;
  width: 100vw;
  background: var(--dark-color);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 1;
  font-family: 'system-ui', sans-serif;

  color: var(--light-color);
}

loader.remove {
  animation: slideLeft linear forwards;
  animation-duration: 0.6s;
  animation-delay: 2s;
}
loader div {
  text-align: center;
}

loader div:first-child {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

loader div:first-child > div {
  height: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: middle;
  animation: fadeIn 1.5s forwards;
  opacity: 0;
  transition-timing-function: scale(1);
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

loader div:first-child > div > span:first-child {
  display: inline-block;
  animation: firstspan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateX(50%);
  z-index: 1;
  position: relative;
  font-weight: 500;
  background: var(--dark-color);
}

loader div:first-child > div > span:last-child {
  display: inline-flex;
  overflow: hidden;
}

loader div:first-child > div > span:last-child > span {
  font-weight: 100;
  z-index: -1;
  display: inline-block;
  transform: translateX(-100%);
  animation: secondspan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes slideLeft {
  to {
    left: -100%;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transition-timing-function: scale(1);
  }
}

@keyframes firstspan {
  to {
    transform: translateX(0%);
  }
}

@keyframes secondspan {
  to {
    transform: translateX(0%);
  }
}

header {
  width: 100%;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Ubuntu', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
    sans-serif;

  transition: all 0.4s ease;
}

header .logo {
  font-size: 2rem;
  color: var(--title-color);
}

header nav,
.phone-nav {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

header nav ul,
.phone-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  list-style: none;
}

header nav ul li,
.phone-nav ul li {
  height: 48px;
  display: flex;
  align-items: center;
}

header nav img,
.phone-nav img {
  height: 40px;
  transition: transform 0.3s ease;
}

header nav img:hover,
.phone-nav img:hover {
  transform: translateY(-4px);
}

.phone-nav {
  display: none;
}

.header-sticky {
  background: var(--dark-color);
}

.header-sticky .logo {
  color: var(--light-color);
}

.header-sticky .header-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* home style */

.home {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: white;
  height: 85vh;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.home .left,
.home .right {
  width: 50%;
  position: relative;
  height: 100%;
}

.home .left .img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden; /* Ensure the overflow is hidden */
  transition: all 0.4s ease;
}

.home .left .img:hover {
  scale: 1.02;
}

.home .left .img img {
  position: absolute;
  max-height: 40rem;
  height: 100%;
  object-fit: cover;
  inset: 0;
  left: 50%;
  transform: translateX(-55%);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.home .right {
  font-family: 'Ubuntu', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
    sans-serif;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .right .text-1 {
  font-size: var(--big-font-size);
  cursor: pointer;
}

.home .right .text-2 {
  font-size: var(--biggest-font-size);
  font-weight: 500;
  margin: 0.5rem 0;
  color: var(--title-color);
  cursor: pointer;
}

.home .right .text-3 {
  font-size: var(--bigger-font-size);
  cursor: pointer;
}

.home .right .resume {
  margin: 2rem 0;
}

.home .right .resume a {
  padding: 0.5rem 1rem;
  background: var(--accent-1);
  font-size: var(--big-font-size);
  color: white;
  border: 1px solid var(--accent-1);
  border-radius: 3px;
}

.home .right .resume a:hover {
  box-shadow: 8px 8px 10px var(--shadow-color);
}

/* About me section */
.about-me {
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.about-me .section-title {
  text-align: center;
}

.about-me p {
  text-align: center;
  margin: 0 2rem;
  font-size: var(--semi-normal-font-size);
  line-height: 1.3;
}

.about-me p span {
  color: var(--shadow-color);
  background-image: linear-gradient(
    90deg,
    var(--dark-color),
    var(--dark-color)
  );
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  transition: background 0.4s linear;
}

/* projects style */

.projects {
  background: hsl(228, 24%, 97%);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
}

.projects .container {
  height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: sticky;
  top: 0;
}

.projects-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 1.1fr;
}

.projects-container .left {
  height: 80%;
  display: flex;
  overflow: hidden;
}

.projects-container .left .details-container {
  transition: transform 0.4s ease;
}

.projects-container .left .details {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
}

.projects-container .right {
  height: 100%;
  overflow: hidden;
}

.projects-container .right .imgs-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: transform 0.4s ease;
}

.projects-container .right .img-container {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  display: flex;
}

.projects-container .right .img {
  width: 100%;
}

.projects-container .title {
  font-weight: 500;
  font-size: var(--big-font-size);
  font-family: 'Poppins', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  color: gray;
  margin: 1rem 0;
}

.projects-container .description {
  font-size: var(--semi-normal-font-size);
}

.projects-container .description a {
  color: gray;
}

.projects-container .used {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
}

.projects-container .used > span {
  margin: 4px 0;
  padding: 4px 0;
}

.projects-container .used-technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-container .used-technologies span {
  margin: 4px;
  padding: 4px 10px;
  background: white;
  border-radius: 100vh;
  box-shadow: 8px 8px 10px var(--shadow-color);
}

.projects-container .case_study a {
  color: var(--accent-1);
  font-family: 'Ubuntu', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
    sans-serif;

  font-size: var(--normal-font-size);
  text-decoration: underline;
}

.projects-container img {
  width: 100%;
  transition: all 0.4s ease;
  cursor: pointer;
  object-fit: contain;
  object-position: center;
}

.projects-container img:hover {
  transform: rotate3d(2, 1, 0, 10deg);
}
/* services style */
.services {
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: 'Poppines', sans-serif;
}

.services-container {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(400px, 1fr)
  ); /* Adjust the min width as needed */
  gap: 1rem; /* Adjust the gap between items as needed */
  align-items: stretch; /* Ensures all items have the same height */
}

.services-container .card {
  text-align: center;
  cursor: pointer;
  border: 2px solid var(--accent-1-lighten);
  border-radius: 3px;
  transition: all 0.4s ease;
}

.services-container .box {
  padding: 2rem;
}

.services-container .card:first-child {
  background: var(--dark-color);
  color: white;
}

.services-container .card:hover {
  scale: 1.02;
  box-shadow: 0 12px 16px var(--shadow-color);
  border: 2px solid var(--accent-1-lighten);
}

.services-container .box i {
  font-size: 2rem;
}

.services-container .card:first-child .box i {
  color: var(--background-color);
}

.services-container .box .name {
  font-size: var(--big-font-size);
  font-family: 'Ubuntu', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
    sans-serif;

  font-weight: 500;
  margin: 0.5rem 0;
}

.services-container .box p {
  font-size: 1.2rem;
}

/* values style */
.values {
  background: var(--light-color);
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: 'Poppines', sans-serif;
}

.values-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.values-container .left,
.values-container .right {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.values .left img {
  height: auto;
  width: 100%;
}

.value-description {
  color: gray;
  font-size: var(--normal-font-size);
  margin-bottom: 2.5rem;
}

.value_accordion {
  display: grid;
  row-gap: 1.5rem;
}

.value_accordion-item {
  background-color: var(--light-color);
  border: 2px solid var(--accent-1-lighten);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.75rem 0.75rem;
}

.value_accordion-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.value_accordion-icon {
  background-color: var(--accent-1-lighten);
  padding: 5px;
  border-radius: 0.25rem;
  font-size: 15px;
  color: var(--accent-1);
  margin-right: 0.75rem;
  transition: 0.3s;
}

.value_accordion-title {
  font-size: var(--normal-font-size);
  font-family: 'Ubuntu', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
    sans-serif;

  font-weight: 600;
}

.value_accordion-arrow {
  display: inline-flex;
  background-color: var(--accent-1-lighten);
  padding: 0.25rem;
  color: var(--accent-1);
  border-radius: 2px;
  font-size: 10px;
  margin-left: auto;
  transition: 0.3s;
}

.value_accordion-arrow i {
  transition: 0.4s;
}

.accordion-open .value_accordion-arrow i {
  transform: rotate(180deg);
}

.value_accordion-content {
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
}

.value_accordion-description {
  font-size: 0.813rem;
  padding: 1.25rem 2.5rem 0 2.75rem;
  padding-bottom: 1rem;
}

/* contact style */
.contact {
  background: var(--light-color);
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: 'Poppines', sans-serif;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-container .left {
  width: 59%;
}

.contact-container .right {
  width: 39%;
}

.contact-container input[type='submit'] {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  resize: none;
  border: none;
  border-radius: 3px;
  width: 100%;
  background: var(--accent-1);
  color: var(--light-color);
  transition: all 0.4s ease;
  font-family: 'Ubuntu', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
    sans-serif;

  font-size: var(--semi-normal-font-size);
}

.contact-container input[type='submit']:hover {
  transform: translateY(-2px);
  box-shadow: 4px 10px 10px var(--shadow-color);
}

.contact-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-container form input,
.contact-container form textarea {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  resize: none;
  border: 1px solid var(--accent-1-lighten);
  border-radius: 3px;
}

.contact-container form input:focus,
.contact-container form textarea:focus {
  outline: 1px solid var(--accent-1);
}

.contact-container .right a {
  color: hsl(240, 7%, 84%);
  font-size: var(--semi-normal-font-size);
}

/* Footer style */

footer {
  text-align: center;
  color: var(--title-color);
}

@media (max-width: 947px) {
  .container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .home .left {
    width: 60%;
  }

  .home .right {
    width: 40%;
  }

  .home .right .text-1 {
    font-size: var(--normal-font-size);
  }

  .home .right .text-2 {
    font-size: var(--big-font-size);
  }

  .home .right .text-3 {
    font-size: var(--semi-normal-font-size);
  }

  .home .right .resume a {
    font-size: var(--semi-normal-font-size);
  }
}

@media (max-width: 860px) {
  .services-container .box .name {
    font-size: var(--semi-normal-font-size);
  }
}

@media (max-width: 690px) {
  header nav {
    display: none;
  }

  .home {
    height: auto;
    padding-bottom: 1rem;
  }

  .home .left,
  .home .right {
    width: 100%;
  }

  .home .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .home .left .img {
    width: 85%;
    aspect-ratio: 1/1.3;
    height: auto;
    overflow: hidden;
  }

  .home .left .img img {
    width: 85%;
    height: 100%;
    object-fit: contain;
    left: 0;
    transform: unset;
  }

  .phone-nav {
    display: flex;
    width: 10%;
    justify-content: center;
  }

  .phone-nav ul {
    flex-direction: column;
  }

  .home .right {
    margin-top: 2rem;
  }

  .home .right .text-1 {
    font-size: var(--big-font-size);
  }

  .home .right .text-2 {
    font-size: var(--biggest-font-size);
  }

  .home .right .text-3 {
    font-size: var(--bigger-font-size);
  }

  .home .right .resume a {
    font-size: var(--bigger-font-size);
  }

  .projects {
    padding-top: 2rem;
  }

  .projects-container {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .projects-container .left,
  .projects-container .right {
    width: 100%;
  }

  .projects-container .left {
    height: 60%;
  }

  .projects-container .right {
    height: 40%;
  }

  .projects-container .right img {
    height: 100%;
    object-fit: contain;
  }

  .projects-container .left .details-container {
    height: 100%;
  }

  .services-container .box .name {
    font-size: var(--big-font-size);
  }

  .values-container .left,
  .values-container .right {
    width: 100%;
  }

  .contact-container .left,
  .contact-container .right {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .section-title {
    font-size: var(--big-font-size);
  }

  .home .right .text-1 {
    font-size: var(--semi-normal-font-size);
  }

  .home .right .text-2 {
    font-size: var(--bigger-font-size);
  }

  .home .right .text-3 {
    font-size: var(--big-font-size);
  }

  .home .right .resume a {
    font-size: var(--big-font-size);
  }

  .projects-container .title {
    font-size: var(--big-font-size);
  }

  .projects-container .description {
    line-height: 1.1;
  }

  .about-me p {
    line-height: 1.1;
  }

  .projects-container .used {
    margin: 0.5rem 0;
  }

  .services-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .services-container .box .name {
    font-size: var(--semi-normal-font-size);
  }

  .services-container .box p {
    font-size: var(--normal-font-size);
  }
}

@media (max-width: 400px) {
  .section-title {
    font-size: var(--semi-normal-font-size);
  }

  .home .left .img .imgbg {
    height: 50vh;
  }

  .home .right .text-1 {
    font-size: var(--normal-font-size);
  }

  .home .right .text-2 {
    font-size: var(--big-font-size);
  }

  .home .right .text-3 {
    font-size: var(--semi-normal-font-size);
  }

  .home .right .resume a {
    font-size: var(--semi-normal-font-size);
  }

  .about-me p {
    line-height: 1;
    font-size: var(--normal-font-size);
  }

  .projects-container .title {
    font-size: var(--semi-normal-font-size);
  }

  .projects-container .description {
    line-height: 1;
    font-size: var(--normal-font-size);
  }

  .services-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
